<ul class="options">
    <li class="price">
        <p>Price</p>
        <button>High to low</button>
        <button>Low to high</button>
    </li>
    <li>
        <details>
            <summary>Jewelry Type <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Necklaces</li>
                <li>Earrings</li>
                <li>Bracelets</li>
                <li>Rings</li>
                <li>Brooches</li>
                <li>Anklets</li>
                <li>Body Jewelry</li>
                <li>Cufflinks</li>
                <li>Tiaras</li>
                <li>Charms</li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>Material <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Gold</li>
                <li>Silver</li>
                <li>Platinum</li>
                <li>Stainless Steel</li>
                <li>Leather</li>
                <li>Wood</li>
                <li>Glass</li>
                <li>Ceramic</li>
                <li>Plastic</li>
                <li>Fabric</li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>Gemstones <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Diamond</li>
                <li>Ruby</li>
                <li>Emerald</li>
                <li>Sapphire</li>
                <li>Amethyst</li>
                <li>Topaz</li>
                <li>Opal</li>
                <li>Moonstone</li>
            </ul>
        </details>
    </li>
</ul>