<ul class="options">
    <li class="price">
        <p>Price</p>
        <button>High to low</button>
        <button>Low to high</button>
    </li>
    <li>
        <details>
            <summary>Medium <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Oil Paint</li>
                <li>Acrylic Paint</li>
                <li>Watercolor</li>
                <li>Pastels</li>                
                <li>Ink</li>
                <li>Digital Media</li>               
                <li>Sculpture</li>
                <li>Textile Art</li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>Style <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Realism</li>
                <li>Impressionism</li>
                <li>Expressionism</li>
                <li>Cubism</li>
                <li>Surrealism</li>
                <li>Abstract Art</li>
                <li>Pop Art</li>
                <li>Fauvism</li>
                <li>Art Nouveau</li>
                <li>Baroque</li>
                <li>Renaissance</li>
                <li>Gothic</li>
                <li>Minimalism</li>
                <li>Conceptual Art</li>
                <li>Street Art</li>
            </ul>
        </details>
    </li>
</ul>