<ul class="options">
    <li class="price">
        <p>Price</p>
        <button>High to low</button>
        <button>Low to high</button>
    </li>
    <li>
        <details>
            <summary>Type <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Sofas</li>
                <li>Chairs</li>
                <li>Tables</li>
                <li>Bookshelves</li>
                <li>Dressers</li>
                <li>Cabinets</li>
                <li>Beds</li>
                <li>Wardrobes</li>
                <li>Desks</li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>Material <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Wood</li>
                <li>Metal</li>
                <li>Glass</li>
                <li>Leather</li>
                <li>Stone</li>                
                <li>Veneer</li>
                <li> MDF (Medium Density Fiberboard)</li>
            </ul>
        </details>
    </li>
</ul>