<div class="bg">
    <app-navigation></app-navigation>
<article>
    <img src="test.jpg" alt="">

    <div class="info">
        <h2>{{item?.name}}</h2>
       
        <p>Only for: {{item?.price}}$</p>
        <p>In stock: {{item?.stock_quantity}}</p>
        <div class="details">  
            <h2>Info: </h2>     
            <div>
                <p>Material: {{item?.material}}</p>
                <p>Dimensions: {{item?.dimensions}}</p>
                <p>Finish: {{item?.finish}}</p>           
                <p>Weight: {{item?.weight}} kg</p>  
                <p>Can customize: {{item?.customizable}}<p>
            </div>               
        </div>

        @if(user_id){
            @if(cart.includes(item?._id!)){
                <div class="button">
                    <button routerLink="/artisan/cart">Already in shopping cart</button>
                </div>
            }@else {
                <div class="button">
                    <button (click)="addToCart()">Add to cart</button>                    
                </div>
            }
        }@else{
            <div class="button">
                <button routerLink="/login" [style]="{backgroundColor: '#ffbe63'}">Log in to purchase</button>
            </div>
        } 
    </div>

    <div class="desc">
        <h2>Description: </h2>
        <p>{{item?.description}}</p>
    </div>

    @if(user_id == item?.artisan_id){
        <div class="user-buttons">
            <button class="edit" [routerLink]="['/update/pottery',item?._id]">Edit</button>
            <button class="delete" (click)="delete()">Delete</button>
        </div>
    } 
</article>
</div>