<ul class="options">
    <li class="price">
        <p>Price</p>
        <button>High to low</button>
        <button>Low to high</button>
    </li>   
    <li>
        <details>
            <summary>Size <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Small</li>
                <li>Medium</li>
                <li>Large</li>
                <li>Extra Large</li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>Material <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Cotton</li>
                <li>Linen</li>
                <li>Wool</li>
                <li>Silk</li>
                <li>Leather</li>
                <li>Denim</li>
            </ul>
        </details>
    </li>

</ul>