<ul class="options">
    <li class="price">
        <p>Price</p>
        <button>High to low</button>
        <button>Low to high</button>
    </li>
    <li>
        <details>
            <summary>Use <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Functional Pottery</li>
                <li>Decorative Pottery</li>
                <li>Tableware</li>
                <li>Vases</li>
                <li>Urns</li>
                <li>Cookware</li>
                <li>Bathware</li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>Material <i class="fa-solid fa-arrow-down"></i></summary>
            <ul class="small-options">
                <li>Clay</li>
                <li>Slip</li>
                <li>Glaze</li>
                <li>Stone</li>
                <li>Bone China</li>
                <li>Terracotta</li>
                <li>Wood</li>
                <li>Metal</li>
                <li>Glass</li>              
            </ul>
        </details>
    </li>   
</ul>