* {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}
nav {
    display: flex;    
    font-size: 1.7rem;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}
nav a:hover{
    text-decoration: underline;
    opacity: 0.75;
    color: #488d8d;
}
.logo{
    flex-grow: 2;
}
.user{
   
    display: flex;
    gap: 40px;  
    flex-grow: 0; 
}
.us{
    display: flex;
    gap: 40px;
    flex-grow: 4;
    justify-content: center;
}
svg{
    width: 40px;
    cursor: pointer;
}