<nav>
    <div class="logo" routerLink="">LOGO</div>
    <div class="us">
        <a routerLink="/catalog">Catalog</a>
        <a routerLink="/locations">Locations</a>
        <a routerLink="/about-us">About Us</a>
    </div>
    @if (isAuth) {
        <div class="user">
            <a routerLink="/profile">Profile</a>
            <a (click)="logout()">Logout</a>
        </div>
    }@else{
        <div class="user">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div> 
    }     
</nav>