<div class="bg">
    <app-navigation></app-navigation>
<article>
    <img src="test.jpg" alt="">

    <div class="info">
        <h2>{{item?.name}}</h2>
       
        <p>Only for: {{item?.price}}$</p>
        <p>In stock: {{item?.stock_quantity}}</p>
        <div class="details">  
            <h2>Info: </h2>     
            <div>
                <p>Material: {{item?.material}}</p>
                <p>Size: {{item?.size}}</p>
                <p>Fit: {{item?.fit}}</p>           
                <p>Sex: {{item?.gender}}</p>  
                <p>Care Instructions: {{item?.care_instructions}}<p>
            </div>               
        </div>

        <div class="button">
            <button>Add to cart</button>                    
        </div>
    </div>

    <div class="desc">
        <h2>Description: </h2>
        <p>{{item?.description}}</p>
    </div>

    @if(user_id == item?.artisan_id){
        <div class="user-buttons">
            <button class="edit">Edit</button>
            <button class="delete">Delete</button>
        </div>
    } 
</article>
</div>