<div class="bg">
<app-navigation />
<div class="container">
    <h2>{{item._id == undefined ? "Create" : "Update"}} Pottery</h2>
    <form #createItemForm="ngForm" (ngSubmit)="formSubmitHandler()">

        <div class="inputgroup two">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" ngModel #nameInput="ngModel" [(ngModel)]="item.name" required>

            @if (nameInput.touched && nameInput.errors?.["required"])
            {
            <div class="error">Name is required!</div>
            }

        </div>

        <div class="inputgroup two">
            <label for="description">Description</label>
            <textarea type="text" name="description" id="description" ngModel #descriptionInput="ngModel" [(ngModel)]="item.description" required></textarea>

            @if (descriptionInput.touched && descriptionInput.errors?.["required"])
            {
            <div class="error">Description is required!</div>
            }

        </div>

        <div class="inputgroup two">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" ngModel #priceInput="ngModel" [(ngModel)]="item.price" required min="0">

            @if (priceInput.touched)
            {
            @if(priceInput.errors?.["required"])
            {
            <div class="error">Price is required!</div>
            }
            }

        </div>

        <div class="inputgroup two">
            <label for="quantity">Quantity</label>
            <input type="number" name="stock_quantity" id="quantity" ngModel #quantityInput="ngModel" [(ngModel)]="item.stock_quantity" required
                min="1">

            @if (quantityInput.touched)
            {
            @if (quantityInput.errors?.["required"])
            {
            <div class="error">Quantity is required!</div>
            }
            }

        </div>

        <div class="inputgroup two">
            <label for="image">Image URL</label>
            <input type="text" name="image_url" id="image" ngModel #imageInput="ngModel" [(ngModel)]="item.image_url" required> 
            @if (imageInput.touched)
            {
            @if (imageInput.errors?.["required"])
            {
            <div class="error">Image URL is required!</div>
            }
            }
        </div>
        
        <div class="inputgroup two">
            <label for="material">Material</label>
            <select id="material" name="material" ngModel #materialInput="ngModel" [(ngModel)]="item.material" required>
                @for (material of materials; track $index) {
                    <option [value]="material.toLowerCase()">{{material}}</option>
                }
            </select>   
            @if (materialInput.touched)
            {
            @if (materialInput.errors?.["required"])
            {
            <div class="error">Material is required!</div>
            }
            }           
        </div>

        <div class="inputgroup two">
            <label for="dimensions">Dimensions</label>
            <input type="text" name="dimensions" id="dimensions" ngModel #dimensionsInput="ngModel" [(ngModel)]="item.dimensions" required>
            @if (dimensionsInput.touched)
            {
            @if (dimensionsInput.errors?.["required"])
            {
            <div class="error">Dimensions is required!</div>
            }
            }
        </div>

        <div class="inputgroup two">
            <label for="finish">Finish</label>
            <input type="text" name="finish" id="finish" ngModel #finishInput="ngModel" [(ngModel)]="item.finish" required>
            @if (finishInput.touched)
            {
            @if (finishInput.errors?.["required"])
            {
            <div class="error">Finish is required!</div>
            }
            }
        </div>

        <div class="inputgroup two">
            <label for="use">Use</label>
            <select id="use" name="usage" ngModel #useInput="ngModel" [(ngModel)]="item.usage" required>
                @for (use of use; track $index) {
                    <option [value]="use.toLowerCase()">{{use}}</option>
                }
            </select>   
            @if (useInput.touched)
            {
            @if (useInput.errors?.["required"])
            {
            <div class="error">Use is required!</div>
            }
            }           
        </div>

        <div class="inputgroup two">
            <label for="weight">Weight</label>
            <input type="number" name="weight" id="weight" ngModel #weightInput="ngModel" [(ngModel)]="item.weight" required>
            @if (weightInput.touched)
            {
            @if (weightInput.errors?.["required"])
            {
            <div class="error">Weight is required!</div>
            }
            }
        </div>

        <div class="inputgroup two">
            <label for="customizable">Customizable</label>
            <select id="customizable" name="customizable" ngModel #customizableInput="ngModel" [(ngModel)]="item.customizable" required>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>   
            @if (customizableInput.touched)
            {
            @if (customizableInput.errors?.["required"])
            {
            <div class="error">Customizable is required!</div>
            }
            }           
        </div>
        
        <button [disabled]="!!form?.invalid">>{{item._id == undefined ? "Create" : "Update"}} Pottery</button>
    </form>
</div>
</div>