* {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.container h2{
    font-size: 3rem;
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 40px 80px;
    background-color:#B8EBD0;
    width: 1000px;
}
.inputgroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;  
    flex-basis: 45%; 
}
.inputgroup input{
    font-size: 1.3rem;    
    width: 100%;       
}
.inputgroup select{
    font-size: 1.3rem;    
    width: 100%;       
}
form button{
    flex-basis: 100%;
    font-size: 2.2rem;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1px 20px; 
    margin-top: 20px;
    background-color: #ffbe63;
    margin: 50px auto;
    margin-bottom: 0;
}
form button:hover{
    background-color: #FAD6A5;
}
.two{
    flex-basis: 45%;
}
textarea{
    height: 100px;
    resize: none;
}
.three{
    flex-basis: 30%;
}
.error{
    color: red;
    font-size: 1.2rem;
}
.bg{
    background: rgb(226, 224, 224);
}